.exec>header{background: #e5f505;
    border: #2a03da 2px solid;
    padding: 20px 0;
    border-radius: 50px 50px 0 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
    font-size: xx-large;}
.execs{display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
column-gap: 3rem;
margin: 2%;}
.honky{display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
column-gap: 3rem;
margin: 2%;}


@-webkit-keyframes spin{
    from {
        -webkit-transform: rotateY(0deg);
      }
      to {
        -webkit-transform: rotateY(-360deg);
      }
    }
#logo{width : 25%;
    height: 25%;
    -webkit-animation: spin 5s 1;
    animation: spin 5s 1;
    text-align: center;
    margin: auto;
    display: block;
    }
#logo_text{
        -webkit-animation: spin 5s 1;
        animation: spin 5s 1;
        font-size: 500%;
        text-align: center;
        margin: auto;
        display: block;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
.nav_links{display: flex;
    flex-direction: row;
    column-gap: 2rem;
    justify-content: space-around;
}
.nav_item a{color: blue;
font-size: 200%;}
.active a{text-decoration: none;
font-size: 200%;}
.exec{width: -webkit-fill-available}

.execPic{border: #2a03da 2px solid;
    margin: 0px 2% 2% 2%;
    width: 100%;
    height: 40rem;}

.mainhead{text-align: center;
font-size: 500%;}
.subhead{font-size: 250%;}
p{font-size: 200%;}

#skip .infodiv{margin: 5rem 5rem 5rem 0;}
#eboard{text-align: center;
margin-top: 4%;}

.exec li{font-size: 150%}
body{background-color: antiquewhite;}
